*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    background: #f6e58d;
    color: #30336b;
}

h1 {
    font-size: 64px;
    text-shadow: 2px 2px #dff9fb;
    display: inline-block;
}
header {
    margin: auto 0 auto 25%;
}

header i {
    display: inline-block;
    font-size: 48px;
    text-shadow: 2px 2px #dff9fb;
    padding: 0 16px;
}

.container {
    display: flex;
    max-width: 1140px;
    padding: 40px 20px;
}

.cont-inner {
    margin: 0 auto;
    max-width: 50%;
    background: #dff9fb;
    border-radius: 15px;
    padding: 0 8px;
}

.splash {
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: url("https://images.unsplash.com/photo-1515405254580-63dfe292b1fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
}

.splash-inner {
    margin: auto 25%;
    max-width: 70%;
}

h2 {
    color: #dff9fb;
    font-size: 48px;
    font-weight: bold;
    margin: 8px 0;
    text-shadow: 2px 2px #30336b;
}

.banner h3 {
    color: #dff9fb;
    font-size: 32px;
    margin: 8px 0;
    text-shadow: 2px 2px #30336b;
}

.lyrics h3 {
    color: #dff9fb;
    font-size: 32px;
    margin: 8px 0;
    text-shadow: 2px 2px #30336b;
    text-align: center;
}

.lyrics span {
    font-weight: bold;
}

.lyrics img {
    max-width: 300px;
    max-height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    padding: 0 0 8px 0;
}

.btn {
    display: inline-block;
    min-width: 80px;
    margin: 12px auto 0;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #dff9fb;
    color: #dff9fb;
}

.btn i {
    padding: 0 8px;
}

footer {
    text-align: center;
}

footer i, footer p {
    display: inline-block;
}